<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkxim.android.thumbsdk"
    android:versionCode="1103000"
    android:versionName="1.1.0.3000" >

    <uses-sdk android:minSdkVersion="13" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>