<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkxim.android.thumbsdk"
    android:versionCode="1103000"
    android:versionName="1.1.0.3000" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CALENDAR" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Note that these permissions shouldn't be set for tablet devices -->
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <!-- These permissions are mandatory. Without these ad data can't be retrieved -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <activity
        android:name="com.adgoji.mraid.adview.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" />

</manifest>